  .avatar {
    display: flex;
    justify-content: center;
    z-index: 999;
    position: relative;
  }

  .summary {
    z-index: 1;
    justify-content: center;
  }

  .avatar > div {
    width: 100px;
    height: 100px;
    background-image: url('../../static/img/avatar.jpeg');
    border-radius: 50%;
    cursor: -webkit-grab;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    white-space: pre;
  }
  
  .avatar > div:active {
    cursor: -webkit-grabbing;
  }

  .name-title {
    min-width: 100%;
    text-align: center;
    padding: 10px;
  }
  