.section-title {
    display: flex;
}

.pipe {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

  .icon-flip{
    position: 'absolute';
    bottom: '0';
    right: '0';
  }

  .card-container {
    position: relative;
    height: 100%;
    padding-top: 70px;
    padding-bottom: 50px;
  }

  .card-container:hover {
    opacity: 0.8;
  }

  .more-container {
    height: 100%;
    width: 100%;
    text-align: center;
    text-decoration: none;
  }

  .link-more:hover {
    text-decoration: none;
  }


  @media screen and (max-width: 650px) {
    .card-container {
      position: relative;
      height: 100%;
      padding: 100px;
    }
  }
  
  .link {
    cursor: pointer;
    text-decoration: underline;
  }

  .link:hover {
    background-color: pink;
    color: gray;
  }